* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Varibles for design */
:root {
    /* Colors */
    --background-color: #FFF;
    --text-title-color: #000;
    --text-subtitle-color: #000;
    --text-color: #000;
    cursor: none;
}

/* Basic backdrop design */
body{
    background-color: var(--background-color);
    width: 100%;
    height: 100%;

    /* border: 1px red dotted; */
}
.main-container {
    width: 100vw;
    height: 100%;
    /* min-width: 100px; */
    margin: auto;

    /* border: 1px green dotted; */
}

/* Text designs --------------------------------------------------------------------- */

h1 {
    display: block;
    font-family: 'Major Mono Display', monospace;
    color: var(--text-title-color);
    font-size: 40px;
    text-transform: uppercase;
}

.animated-title .letter{
    display: inline-block;
    line-height: 1em;
}

h2 {
    display: block;
    font-family: 'EB Garamond', serif;
    color: var(--text-subtitle-color);
    font-size: 50px;
    font-variation-settings: 'wght' 400;
    transition: font-variation-settings 0.15s ease-out;
}

h3 {
    display: inline-block;
    font-family: 'EB Garamond', serif;
    color: var(--text-subtitle-color);
    font-size: 25px;
    font-variation-settings: 'wght' 400;
    transition: font-variation-settings 0.15s ease-out;
}

h2:hover, h3:hover {
    transition: font-variation-settings 0.15s ease-out;
    font-variation-settings: 'wght' 600;
}

p {
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    color: var(--text-color);
    display: block;
    font-size: 20px;
    /* margin: 0 auto; */
}

/* Generic tags used across pages ------------------------------------------------ */

.full-width-container {
    display: block;
    width: 100%;

    /* border: 1px darkblue dotted; */
}

.half-width-container{
    position: relative;
    display: inline-block;
    width: 50%;
    margin: auto;

    /* border: 1px darkblue dotted; */
}

/* Specific to Page Classes ------------------------------------------------------- */

.website-title {
    display: inline-block;
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

    /* border: 1px dotted grey; */
}

.top-logo{
    position: fixed;
    top: 30px;
    left: 10%;
    transform: translateX(0%);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.night-bg {
    background: #000d21;
    background: radial-gradient(circle at center, #000d21, #000712);
}

.catchy-text {
    display: inline-block;
    position: relative;
    top: 40%;
    left: 10vw;
    width: 90%;
    transform: translateY(-50%);
    text-align: left;
}

.catchy-text p{
    color: white;
    max-width: 700px;
}

.catchy-text h2 {
    color: #fff;
    font-size: 55px;
}